{% extends 'base.html' %}

{% block titulo %}
	Cambiar Contrase&ntilde;a
{% endblock titulo %}

{% block css %}
{% endblock css %}


{% block contenido %}
	{% if form.errors %}
	<div class="alert alert-warning">
		<span>El usuario o contrase&ntilde;a no es correcto</span>
	</div>
	{% endif %}

	{% if messages %}
	{% for message  in messages %}
		<div class="alert alert-{% if message.tags == 'error'%}danger{%else%}success{%endif%}">
			{{message}}
		</div>
	{% endfor %}
	{% endif %}

	<h1>Cambiar contraseña</h1>
	<form method="post">
		{% csrf_token %}
		{{form.as_p}}
		<button type="submit" class="btn btn-success">Guardar</button>
		<a href="javascript: history.back()" class="btn btn-info">Regresar</a>
	</form>
{% endblock contenido %}


{% block js %}
{% endblock js %}