{% extends 'base_pdf.html' %}

{% block titulo %}
    Detalles PDF
{% endblock titulo %}
    

{% block contenido %}
    

    <h3>Detalles de la organizacion</h3>
    <hr>
    <br>
    <table width="100%" class="table">
        <thead>
            <th>Nombre de la organización</th>
            <th>Dirección</th>
            <th>CP</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>Página web</th>
        </thead>
        <tbody>
                    <td>{{object.username}}</td>
                    <td>{{object.direccion}}</td>
                    <td>{{object.cp}}</td>
                    <td>{{object.telefono}}</td>
                    <td>{{object.email}}</td>
                    <td>{{object.pagina_web}}</td>
                </tr>
        </tbody>
    </table>
{% endblock contenido %}

{% block js %}

{% endblock js %}