{% extends 'base.html' %}
{% load static %}

{% block titulo %}
	Mi Perfil
{% endblock titulo %}

{% block css %}
{% endblock css %}

{% block contenido %}
	<h1>Mi Perfil</h1>

	{% if object.foto %}
	<!-- Foto desde Media -->
	{% else %}
	<img src="{% static 'images/photo_placeholder.png' %}" alt="Foto de Perfil" style="border-radius: 50%; float: right; max-width: 150px;">
	{% endif%}

	<p>Nombre: {{object.username}}</p>
	<p>Correo Electronico: {{object.email}}</p>
	<p>Dirección: {{object.direccion}}</p>
	<p>Teléfono: {{object.telefono}}</p>
	<p>Sitio web: {{object.pagina_web}}</p>
	<p>Código postal: {{object.cp}}</p>
	{% if object.visibilidad %}
		<p>¿Estoy visible?: Si</p>
	{% else %}
		<p>¿Estoy visible?: No</p>
	{% endif %}

	<a href="{% url 'organizacion:editar' request.user.id %}" class="btn btn-secondary">Editar</a>
	<a href="{% url 'organizacion:pdf_datos_org' request.user.id %}" class="btn btn-secondary">PDF</a>


{% endblock contenido %}


{% block js %}
{% endblock js %}
