{% extends 'base.html' %}

{% block titulo %}
    {{etiqueta}} videojuego
{% endblock titulo %}

{% block css %}
{% endblock css %}
    

{% block contenido %}
    <form method="post">
        {% csrf_token %}
        <p>Quieres eliminar la publicacion?</p>
        <input type="submit" value="Sí, si quiero" class="btn btn-danger">
        <a href="{% url 'publicacion:lista' %}" class="btn btn-primary ">Mejor no</a>
    </form>
{% endblock contenido %}


{% block js %}
{% endblock js %}

<!--
 
-->

