{% extends 'base.html' %}
{% load static %}

{% block titulo %}
	Editar Perfil
{% endblock titulo %}

{% block css %}
{% endblock css %}


{% block contenido %}
	<h1>Editar Perfil</h1>

	{% if object.foto %}
	<!-- Foto desde Media -->
	{% else %}
	<img src="{% static 'images/photo_placeholder.png' %}" alt="Foto de Perfil" style="border-radius: 50%; float: right; max-width: 150px;">
	{% endif%}

	<form method="post">
		{% csrf_token %}
		{% for field in form %}
		{{field}}
		<br>
		{% endfor %}
		<a href="{% url 'update_password' %}" class="btn btn-success">Cambiar Contrase&ntilde;a</a>
		<a href="{% url 'usuario:eliminar' user.id %}" class="btn btn-danger">Eliminar Cuenta</a>
		<button type="submit" class="btn btn-success" style="float: right;">Guardar</button>
		
	</form>
{% endblock contenido %}


{% block js %}
{% endblock js %}