<!--
	Archivo: base.html

	Descripción:
		El archivo contiene todo el código html
		que se repite dentro del sistema para así
		reutilizar código.

	Equipo:
		- Isaac Alejandro Díaz López
		- Ricardo Flores Vázquez
		- Erick Alexandro Pinalez Gonzáles
		- Kevin Javier Reyes Medina
-->

{% load static %}

<!DOCTYPE html>
<html lang="es-mx">

<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- FontAwesome JS-->
	<script defer src="{% static 'js/all.min.js' %}"></script>

	<link rel="shortcut icon" href="{% static 'favicon.svg' %}">

	<!-- Bootstrap CSS -->  
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">

	<title>
		{% block title %}
		{% endblock title %}
	</title>

</head>

<body>
	<header  id="app-sidepanel" class="app-sidepanel">

		<div class="sidepanel-inner d-flex flex-column">
			<a href="#" id="sidepanel-close" class="sidepanel-close d-xl-none"><i class="fa fa-plus"></i> Agregar Publicación</a>

			<a class="app-logo" href="{% url 'home:home' %}"><img class="img-fluid" src="{% static 'images/logo.svg' %}" alt="Food Management Logo" style="margin-left: -1px;"></a>

			<nav id="app-nav-main" class="app-nav app-nav-main flex-grow-1" style="padding-top: 10px;">
				<ul class="app-menu list-unstyled accordion" id="menu-accordion">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'home:home' %}">
							<i class="fa fa-home"></i>
							<span class="nav-link-text"> Inicio</span>
						</a>
					</li>
					
					<li class="nav-item">
						{% if 'Organizaciones' == request.user.groups.first.name %}
						<a class="nav-link" href="{% url 'usuarios:organizacion-mi-perfil' %}">
							<i class="fa fa-building"></i>
						{% else %}
						<a class="nav-link" href="{% url 'usuarios:donador-mi-perfil' %}">
							<i class="fa fa-user-circle"></i>
						{% endif %}
							<span class="nav-link-text"> Mi Perfil</span>
						</a>
					</li>
					
					{% if 'Organizaciones' == request.user.groups.first.name %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'publicaciones:mis-publicaciones' %}">
							<i class="fa fa-tag"></i>
							<span class="nav-link-text"> Mis Publicaciones</span>
						</a>
					</li>
					{% endif %}

					<li class="nav-item" style="position: absolute; bottom: 10px;">
						<a class="nav-link" href="{% url 'home:logout' %}">
							<i class="fa fa-door-open"></i>
							<span class="nav-link-text"> Cerrar Sesión</span>
						</a>
					</li>
				</ul>
			</nav>

		</div>

	</header>

	<div class="app-wrapper">
		<div class="app-content pt-3 p-md-3 p-lg-4">
			<div class="container-xl">
				{% block body %}
				{% endblock body %}
			</div>
		</div>
		
		<footer class="app-footer">
			<div class="container text-right py-3">
				<p>&copy; Equipo Null Pointers 2021</p>
			</div>
		</footer>
	</div>

	<!-- Javascript -->
	<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>  

	<!-- Charts JS -->
	<script src="{% static 'js/chart.min.js' %}"></script> 
	
	<!-- Page Specific JS -->
	<script src="{% static 'js/app.js' %}"></script>
	
</body>

</html>

<!-- Copyright: Null Pointers 2021 -->