<!--
	Archivo: signin.html

	Descripción:
		El archivo contiene todo el código html
		necesario para mostrar una pantalla de
		creación de cuenta para utilizar el
		sistema.

	Equipo:
		- Isaac Alejandro Díaz López
		- Ricardo Flores Vázquez
		- Erick Alexandro Pinalez Gonzáles
		- Kevin Javier Reyes Medina
-->

{% load static %}

<!DOCTYPE html>
<html lang="es-mx">

<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- FontAwesome JS-->
	<script defer src="{% static 'js/all.min.js' %}"></script>

	<link rel="shortcut icon" href="{% static 'favicon.svg' %}">

	<!-- Bootstrap CSS -->  
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">

	<title>Inicio de Sesi&oacute;n</title>

	<title>Crear Cuenta</title>

</head>

<body>

	{% if form.errors %}
		<div class="alert alert-warning">
			<span>El usuario o contrase&ntilde;a no es correcto</span>
		</div>
	{% endif %}

	{% if messages %}
		{% for message  in messages %}
			<div class="alert alert-{% if message.tags == 'error'%}danger{%else%}success{%endif%}">
				{{message}}
			</div>
		{% endfor %}
	{% endif %}

	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<img class="img-fluid" src="{% static 'images/logo-text.svg' %}" alt="Food Management">
			</div>
			<div class="app-title">
				<h4>Crear Cuenta</h4>
			</div>
	
			<div class="login-form">
				<div class="auth-form-container text-left mx-auto">
					<form class="auth-form auth-signup-form" method="POST"> 
						{% csrf_token %}
							<label for="first_name">Nombre: </label><input type="text" name="first_name" class="form-control signin-form-group" placeholder="Nombre (Obligatorio)">
							<label for="email">Correo Electr&oacute;nico: </label><input type="email" name="email" class="form-control signin-form-group" placeholder="Correo Electr&oacute;nico (Obligatorio)">
							<label for="password">Contrase&ntilde;a</label><input type="password" name="password" class="form-control signin-form-group" placeholder="Contrase&ntilde;a (Obligatorio)">
							<label for="codigo_postal">C&oacute;digo Postal</label><input type="number" name="codigo_postal" class="form-control signin-form-group" placeholder="C&oacute;digo Postal (Obligatorio)">

							<input class="form-check-input signin-form-group" type="checkbox" name="es_organizacion" onchange="activar_campos(!this.checked)"><label for="es_organizacion" style="margin-left: 0.5em;"> Soy una Organizaci&oacute;n</label><br>
							
							<label for="direccion" id="direccion_label" hidden>Direcci&oacute;n: </label><input type="text" name="direccion" id="direccion" class="form-control signin-form-group" placeholder="Direcci&oacute;n (Obligatorio)" hidden>
							<label for="telefono" id="telefono_label" hidden>Tel&eacute;fono: </label><input type="number" name="telefono" id="telefono" class="form-control signin-form-group" placeholder="Tel&eacute;fono (Obligatorio)" hidden>
						<div class="text-center">
							
							<button type="submit" class="btn app-btn-primary btn-block theme-btn mx-auto">Crear Cuenta</button>
						</div>
					</form>
					<div class="auth-option text-center pt-5">¿Ya tienes una cuenta? <a class="text-link" href="{% url 'home:login' %}" >Inicia Sesi&oacute;n</a></div>
				</div>
			</div>
		</div>
	</div>

	<script>
		function activar_campos(valor) {
			document.getElementById('direccion_label').hidden = valor;
			document.getElementById('telefono_label').hidden = valor;
			document.getElementById('direccion').hidden = valor;
			document.getElementById('telefono').hidden = valor;
		}
	</script>

</body>

</html>

<!-- Copyright: Null Pointers 2021 -->