{% load static %}

<!DOCTYPE html>
<html lang="es-mx">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="initial-scale=1.0, width=device-width">

	<meta name="author" content="Null Pointers">

	<script defer src="{% static 'js/all.min.js' %}"></script>

	<link id="theme-style" rel="stylesheet" href="{% static 'css/styles.css' %}">
	<link id="theme-style" rel="stylesheet" href="{% static 'css/custom.css' %}">

	<title>
		{% block titulo %}

		{% endblock titulo %}
	</title>

	{% block css %}

	{% endblock css %}
</head> 

<body class="app">

	<header  id="app-sidepanel" class="app-sidepanel">

		<div class="sidepanel-inner d-flex flex-column">
			<a href="#" id="sidepanel-close" class="sidepanel-close d-xl-none">&times;</a>

			<a class="app-logo" href="{% url 'landing_page' %}"><img class="img-fluid" src="{% static 'images/logo.svg' %}" alt="Food Management"></a>

			<nav id="app-nav-main" class="app-nav app-nav-main flex-grow-1">
				<ul class="app-menu list-unstyled accordion" id="menu-accordion">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'organizacion:ver' request.user.id %}" style="padding-left: 16px;">
							<img src="{% static 'images/person-fill.svg' %}" alt="" style="width: 6em;">
							<span class="nav-link-text">{{user.username}}</span>
						</a>
					</li>
				</ul>
			</nav>

		</div>
	</header>

	<div class="app-wrapper">
		
		<div class="app-content pt-3 p-md-3 p-lg-4">
			<div class="container-xl">
				{% block contenido %}
					
				{% endblock contenido %}
			</div>
		</div>

		<footer class="app-footer">
			<div class="container text-right py-3">
				<p>&copy; Equipo Null Pointers 2021</p>
			</div>
		</footer>
		
	</div>

	<script src="{% static 'js/app.js' %}"></script>

	<script src="{% static 'js/bootstrap.min.js' %}"></script>

	<script src="{% static 'js/chart.min.js' %}"></script>

	<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

	<script src="{% static 'js/popper.min.js' %}"></script>

	{% block js %}

	{% endblock js %}
</body>
</html>

<!-- Copyright: Equipo Null Pointers 2021 -->