{% load static %}

<!DOCTYPE html>
<html lang="es-mx">

<head>	
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{% static 'css/styles.css' %}">

	<!-- Redireccionar si ya ha iniciado sesión -->
	<!--meta http-equiv="Refresh" content="0; url='{% url 'home'%}'" /-->

	<title>Food Management</title>
</head>

<body class="app">

	<header  id="app-sidepanel" class="app-sidepanel" style="border-right: none;">

		<div class="sidepanel-inner d-flex flex-column" style="background: none; box-shadow: none;">
			<a class="app-logo" href="{% url 'landing_page' %}"><img class="img-fluid" src="{% static 'images/logo.svg' %}" alt="Food Management"></a>
		</div>
	</header>

	<a href="{% url 'log_in' %}" style="font-size: 27px; font-weight: bold; position: absolute; right: 1em; top: 0.5em;">Iniciar Sesi&oacute;n</a>

	<div class="parent container d-flex justify-content-center align-items-center h-100" style="display: grid !important; min-height: 100vh;">
		<img class="img-responsive" height="470px" width="470px" src="{% static 'images/image45546.png' %}" alt="" style="border-radius: 50%;">
		<h3 style="font-weight: bold ; font-family: sans-serif; font-size: 42px; text-align: center;"><i>¡Tira menos y ayuda<br>a más gente!</i></h3>
	</div>

</body>
</html>