{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link id="theme-style" rel="stylesheet" href="{% static 'css/styles.css' %}">
	<link id="theme-style" rel="stylesheet" href="{% static 'css/styles_login.css' %}">

	<title>Registrarse</title>
</head>
<body>
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<img class="img-fluid" src="{% static 'images/logo_text.svg' %}" alt="Food Management">
			</div>
			<div class="app-title">
				<h4>Registro</h4>
			</div>
	
			<div class="login-form">
				<div class="auth-form-container text-left mx-auto">
					<form class="auth-form auth-signup-form" method="POST"> 
						{% csrf_token %}
							{% for fields in form %}
							{{fields}}
							<br>
							{% endfor %}
						<div class="text-center">
							<button type="submit" class="btn app-btn-primary btn-block theme-btn mx-auto">Registrarse</button>
						</div>
					</form>
					<div class="auth-option text-center pt-5">¿Ya tienes una cuenta? <a class="text-link" href="{% url 'login' %}" >Inicia sesión</a></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>