<!--
	Archivo: change_password.html

	Descripción:
		El archivo contiene todo el código html
		necesario para mostrar la página que se
		muestra para cambiar la contraseña de
		un usuario que ha iniciado sesión.

	Equipo:
		- Isaac Alejandro Díaz López
		- Ricardo Flores Vázquez
		- Erick Alexandro Pinalez Gonzáles
		- Kevin Javier Reyes Medina
-->

{% extends 'base.html' %}
{% load static %}

{% block title %}
Cambiar Contrase&ntilde;a
{% endblock title %}

{% block body %}
<h1>Cambiar Contrase&ntilde;a</h1>

<form method="POST">
	{% csrf_token %}
	<label for="password">Contrase&ntilde;a: </label><input type="password" name="password" id="password"><br>
	<label for="password_check">Confirmación Contrase&ntilde;a: </label><input type="password" name="password_check" id="password_check" onchange="verificar_contrasena(this.value)"><p id="mensaje"></p>
	<button id="submit_button" class="btn btn-primary" type="submit" disabled><i class="fa fa-save"></i> Guardar</button>
	<a class="btn btn-secondary" href="javascript:history.back()"><i class="fa fa-arrow-left"></i> Regresar</a>
</form>

<script>
	function verificar_contrasena(check) {
		contra = document.getElementById('password').value;

		if (contra == check) {
			document.getElementById('submit_button').disabled = false;
			document.getElementById('mensaje').innerHTML = "";
		} else {
			document.getElementById('mensaje').innerHTML = "Las contraseñas no coinciden";
		}
	}
</script>

{% endblock body %}

<!-- Copyright: Null Pointers 2021 -->