<!--
	Archivo: donador_detail.html

	Descripción:
		El archivo contiene todo el código html
		necesario para mostrar la página en donde
		se muestra la información de un usuario
		del tipo "donador".

	Equipo:
		- Isaac Alejandro Díaz López
		- Ricardo Flores Vázquez
		- Erick Alexandro Pinalez Gonzáles
		- Kevin Javier Reyes Medina
-->

{% extends 'base.html' %}
{% load static %}

{% block title %}
Mi Perfil
{% endblock title %}

{% block body %}

<h1>Mi Perfil: {{donador.first_name}}</h1>

<p>Correo Electr&oacute;nico: {{donador.email}}</p>
<p>C&oacute;digo Postal: {{donador.codigo_postal}}</p>

<a class="btn btn-primary" href="{% url 'usuarios:donador-editar-perfil' %}"><i class="fa fa-pen"></i> Editar Perfil</a>
<a class="btn btn-warning" href="{% url 'usuarios:cambiar-contrasena' %}"><i class="fa fa-exclamation-triangle"></i> Cambiar Contraseña</a>
<a class="btn btn-danger" href="{% url 'usuarios:donador-eliminar-cuenta' %}"><i class="fa fa-trash"></i> Eliminar Cuenta</a>

{% endblock body %}

<!-- Copyright: Null Pointers 2021 -->